* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        font-family: 'Roboto', sans-serif;
    }
    h1 {
    font-size: 50px;
    }
    .contenedor {
        width: 90%;
        max-width: 1400px;
        margin: auto;
        overflow: hidden;
        background-color: brown;
    }
    header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
    }
    nav {
        width: 100%;
        height: 80px;
        background-color: aliceblue;
        border-bottom: 1px solid transparent;
        box-shadow: 1px 1px 10px 0 rgba(0, 0,0, .2);
        position: fixed;
        top: 0;
        z-index: 100;
    
    }
    .nav {
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
    
    }
    .enlaces-header {
        font-weight: 300;
        margin: auto;
        transition: all ease-in-out .6s;
    }
    .nav .enlaces-header a {
        color: rgb(216, 219, 221);
        text-decoration: none;
        margin-left: 20px;
        padding: 12px;
        border-radius: 10px;
    }
    .nav .enlaces-header a:hover{
        color: rgb(255, 19, 19);
        background-color: rgb(255, 255, 255);
        border-color: aliceblue;
        transition: all ease-in-out .3s;
    }

    .hamburguer{
        width: 80px;
        height: 80px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease-in;
        z-index: 100;
        display: none;
    }
    .hamburguer > i{
        font-size: 25px;
        line-height: 80px;
    }

    .tiulospro{
        text-align: left;
        margin: 20px 0;
    }
    
    .contenido-header {
        width: 80%;
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .contenido-header > img {
        width: 300px;
        height: 300px;
        margin-left: 50px;
        animation: ease-in animacion 0.5;
    }

    .texto-header {
        margin: 0 0 0 30px;
    }
    .contenido-header P{
        font-weight: 300px;
        margin-top: 14px;
        color: rgb(148, 148, 148)
        text-aling justify;
    }
    
    @keyframes animation {
        0% {transform: scale(0);}
        100% {transform: scale(1);}
        
    }
    
    .contenido-header a {
        margin: 28px 0 0 0;
        width: 150px;
        display: inline-block;
        background-color: aliceblue;
        color: blue;
        text-decoration: none;
        padding: 12px 0;
        border-radius: 5px;
        font-weight: 400px;
        font-size: 16px;
        text-transform: uppercase;
        box-shadow: 0 8px 32 px rgba(97, 31, 31, 0.46);
    }


   /*#################### EDUCATION ##################*/
    .section.education{
        background-color: #fff;
    }


   .content-education {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: space-evenly;
   }

   .section-education .tittle{
    width: 100%;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
   }
   .education{
    width: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
   }

   .education:hover{
    box-shadow: 0px 0px 20px cornflowerblue;
    transition: all ease-in-out .5s ;
   }
   
   .education a { 
    text-decoration: none;
    font-size: 12px;
    color: #0066ff;
   }

   .education a:hover{
    color: azure;
   }

   .education i{
    color: #880606;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid royalblue;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    align-items: center;
   }


 /*#################### CERTIFICADOS ##################*/

   .certificados .tittle{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
   }
 .content-certificados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.certificado{
    background: rgb(136, 135, 135);
    border: 1px solid gray;
    border-radius: 5px;
    width: 22%;
    padding: 15px;
    margin:  10px;
    text-align: center;
}

.certificado img{
    height: 100px;
    width: auto;
    border-radius: 5px;
}

.certificado a{
    color: rgb(2, 2, 2);
    font-size: 12px;
    text-decoration: none;
}
.certificado a:hover{
    color: #446e6e;
}
.certificado:hover{
    background-color: #446e6e;
    color: #fff;
    transition: all ease-in-out .5s;
}




   /*#################### FOOTER ##################*/
   footer {
    background: rgb(70, 70, 70);
    padding: 50px 0px 20px 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;


   }
   .partFooter {
    width: 22%;
    text-align: center;
   }

   .partFooter img{
    width: 60%;
   }

   .partFooter h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #0066ff;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 5px;
   }

   .contact {
    margin: 10px;
    display: block;
    text-align: left;
   }
   
   .contact > i {
    float: left;
    margin: 0 0 0 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    align-items: center;

   }

   .contact >p {
    margin: left 50px;
    align-items: center;
    line-height: 28px;
    font-weight: 500;
    color: #ffffff;
   } 
   
   .partFooter > a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;

   }
   
   .partFooter > a:hover {
    background-color: #ffffff;
    transition: all ease-in-out .6s;

   }

   .socialmedia  > a > i {
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    margin-top: 10px;
    text-align: center;
    margin-right: 5px;
    transition: all ease-in-out .6s;
   }

   .socialmedia > a >i:hover {
    background-color: #50b7fc;
    border-color: #50b7fc;

   }

   /*#################### BREAKPOINT ##################*/
   /*###BARRA DE MENU####*/

   @media screen and (max-width: 700px) {
   .hamburguer {
    display: block;
   }
   .enlaces-header{
    position: fixed;
    background-color: #ff5858;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    clip-path: circle(0.0% at 0 0);

   }
   .nav .hamburgueropen{
    clip-path: circle(150% at 0 0);
   }

   .nav .enlaces-header a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 20px;
    width: 50%;
    background-color: #cf6c6c;
   }
   .nav .enlaces-header a:hover{
    color: #880606;
    background-color: #fff;
   }
   /* La visual principal */
   .h1{
    font-size: 25px;
   }
   .contenido-header{
    width: 100%;
    height: 500px;
    display: block;
   }
   .contenido-header > img, texto-header{
    width: 120px;
    height:120px;
    animation: ease-in animacion 0.5s;
    margin-top: 20px;
    margin-left: 0px
   }
   
   /* Section Education */
   .education, .certificado, .partFooter{
    width: 80%;
    margin-bottom: 15px;
   }

   .certificado img{
    height: 130px;
   }

   /* footer */
   .partFooter img{
    display: none;
   }
   
   footer{
    padding: 0px;
   }

}



